.table-container {
  padding: 1.5rem;
  background: #ffffff url(../../assets/images/currenciesTableBG.jpg);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.table {
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 1);
  margin: 0 auto;
  background-color: #202020;
  padding: .5rem;
  border-radius: 4px;
  th {
    padding: .4rem;
    color: #ffffff;
    font-size: 1.2rem;
  }
  td {
    padding: .4rem;
    font-size: 1.1rem;
    color: #ffffff;
    text-align: center;
  }
}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  color: rgba(255, 235, 59, .9);
}
.mat-spinner-color::ng-deep circle{
  stroke: rgba(255, 214, 0, .5) !important;
}
mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgba(255, 214, 0, .5);
}
