<div class="weather">
  <div class="weather__city" contenteditable="true"
    [(ngModel)]="city"
    (click)="clearCity($event)"
    (keypress)="setCity($event)"
    (blur)="setCity($event)"
    (change)="setCity($event)">{{city}}</div>
  <div class="weather__wrapper">
    <mat-spinner class="mat-spinner-color"
      *ngIf="loading; else contentWeatherInfo"></mat-spinner>
    <ng-template #contentWeatherInfo>
      <i class="weather__icon owf" [ngClass]="this.weather.class"></i>
      <div class="weather__info">
        <div class="weather__temperature">{{this.weather?.temp}}</div>
        <div class="weather__description">{{this.weather?.descr}}</div>
      </div>
    </ng-template>
  </div>
</div>
