:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #444444;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper-first-screen {
  position: relative;
  background-image:
  linear-gradient(to top,  rgba(255, 214, 0, .95),  rgba(255, 214, 0, .95)),
  url(../assets/images/currenciesBG.jpg);
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #202020;
  &__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #f6f6f6;
    cursor: pointer;
  }
}
.intro {
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  &__content {
    max-width: 44rem;
  }
  &__title {
    font-weight: 700;
  }
  &__list {
    margin-top: 1rem;
  }
  &__item {
    list-style-type: none;
    &:before {
      content: "✔";
    }
  }
  &__info {
    max-width: 22rem;
    background-color: #202020;
    color: #f6f6f6;
    padding: 1.5rem;
    text-align: center;
  }
}
.info {
  &__time {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
  }
  &__date {
    font-weight: 400;
    font-size: 1.8rem;
  }
  &__weather {
    margin-top: 2.5rem;
    cursor: pointer;
  }
}
.news {
  position: sticky;
  top: 50px;
  z-index: 1;
  cursor: pointer;
}
.recent-courses {
  display: flex;
  justify-content: space-around;
  padding: 8rem 3rem;
  background:
    #ffffff
    url(../assets/images/currenciesLast2daysBG.jpg)
    bottom
    no-repeat;
  &__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #f6f6f6;
    background-color: #202020;
    padding: .3rem 1rem;
    border-radius: 4px;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #333333;
    background-color: #FFEB3B;
    padding: 1.5rem;
    border-radius: 4px;
    min-width: 250px;
    &:nth-child(2) {
      color: #f6f6f6;
      background-color: #202020;
      & .recent-courses__title {
        color: #333333;
        background-color: #FFEB3B;
      }
    }
    & span {
      font-weight: 500;
    }
  }
  &__today {
    margin-top: .7rem;
  }
  &__icon {
    position: absolute;
    top: 15%;
    right: 20px;
    font-size: 2.5rem;
    overflow: hidden;
  }
}
.footer {
  background-color: #202020;
  &__link {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-top: 1rem;
    padding-bottom: .8rem;
    color: #f6f6f6;
    text-decoration: none;
    cursor: pointer;
  }
  &__autor {
    font-size: .9rem;
    font-weight: 300;
    padding-top: .2rem;
    padding-bottom: 1rem;
    color: #f6f6f6;
  }
}

@import "media.scss";
