@media (max-width: 1120px) {
  .intro {
    padding: 1rem;
    &__item {
      padding: .5rem;
    }
  }
  .menu {
    &__list {
      padding: .7rem 0;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
@media (max-width: 755px) {
  .intro {
    flex-direction: column;
    &__info {
      order: -1;
    }
    &__content {
      margin-top: 2rem;
    }
  }
  .recent-courses {
    flex-direction: column;
    align-items: stretch;
    padding: 4rem .3rem;
    &__title {
      font-size: .9rem;
      padding: .3rem .5rem;
      border-radius: 4px;
    }
    &__content {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-around;
      padding: .5rem .5rem .5rem 3rem;
      font-size: .85rem;
      line-height: .85rem;
    }
    &__today {
      margin-top: 0rem;
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 0;
      left: 5px;
      transform: translateY(-50%);
      font-size: 2.5rem;
    }
  }
  .menu {
    &__list {
      flex-direction: column;
    }
    &__item {
      padding: .9rem 0.5rem;
    }
  }
}
@media (max-width: 520px) {
  .recent-courses {
    align-items: center;
    &__content {
      min-width: 12rem;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-around;
      padding: .5rem .5rem .5rem 3rem;
      font-size: .85rem;
      line-height: .85rem;
    }
    &__today {
      margin-top: .6rem;
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 0;
      left: 5px;
      transform: translateY(-50%);
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 375px) {
  .header {
    position: relative;
    &__title {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      padding-top: .7rem;
      padding-bottom: .7rem;
      margin-bottom: 0;
    }
  }
  .intro {
    padding-top: 0;
    &__info {
      padding: .5rem;
    }
  }
  .info {
    &__time {
      margin-top: .8rem;
      font-size: 2rem;
      line-height: 2.2rem;
    }
    &__date {
      font-size: 1.7rem;
    }
    &__weather {
      margin-top: 2rem;
    }
  }
}
